.button {
    display: flex;
    align-items: center;
    width: 100%;

    button {
        max-width: 300px;
        padding: 15px;
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
        border-radius: 50px;
        text-align: center;
        background: #D9AC10FF;
        color: #fff;
        border: 0;
        cursor: pointer;
        box-shadow: 0 5px 0 rgba(217, 173, 16, 0.619);
        transition: .3s background ease-in;

        &:hover {
            transition: .3s background ease-out;
            background: lighten(#D9AC10FF, 4%);
        }
    }
}